@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .w-wo-scroll {
        width: calc(100vw - (100vw - 100%));
    }
    .text-stroke {
        text-shadow: 0 0 4px #000000
    }
    .box-shadow {
        box-shadow: 5px 5px 0px black;
    }
    .offset-box {
        box-shadow: 15px 15px 0px black;
    }
    .less-offset-box {
        box-shadow: 10px 10px 0px black;
    }
    .box {
        box-shadow: 0px 5px 0px black;
    }
    .warning-box {
        box-shadow: 0px 5px 0px red;
    }
    .no-box {
        box-shadow: 0px 0px 0px black;
    }
    .btn { 
        @apply border-2 border-black box p-1 rounded-md active:scale-90 transition-all hover:no-box hover:translate-y-1 hover:opacity-80;
    }
}

::selection {
    background-color: blue;
}